<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="loginMember">
		SELECT M.*, SPECIES FROM MEMBER M
		LEFT JOIN PET P ON(M.USER_NO = P.USER_NO)
		WHERE USER_ID = ?
		  AND USER_PWD = ?
		  AND STATUS = 1
	</entry>
	
	<entry key="updateMember">
		UPDATE MEMBER
		SET USER_NAME = ?,
		    USER_NICKNAME = ?,
		    USER_PWD = ?,
		    EMAIL = ?,
		    ADDRESS = ?,
		    STATUS = 1,
		    ENROLL_DATE = SYSDATE
		WHERE USER_ID = ?
	</entry>
	
	<entry key="udpatePet">
		UPDATE PET
		SET SPECIES
		WHERE USER_NO = ?
	</entry>
	
		
	<entry key="selectMember">
		SELECT M.*, SPECIES FROM MEMBER M
		JOIN PET P ON(M.USER_NO = P.USER_NO)
		WHERE USER_ID = ?
		 AND STATUS = 1
	</entry>
	
	<entry key="selectPet">
		SELECT SPECIES
		FROM PET
		WHERE USER_NO = ?
	</entry>
	
	<entry key="idCheck">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE USER_ID = ?
	</entry>
	
	<entry key="nickCheck">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE USER_NICKNAME = ?
	</entry>
	
	<entry key="insertMember">
	INSERT INTO MEMBER(USER_NO,
				USER_ID,
				USER_NAME,
                USER_NICKNAME,
				USER_PWD,
				EMAIL,
				PHONE,
				ADDRESS,
				HOBBY,
                STATUS)
					VALUES(SEQ_UNO.NEXTVAL ,
				?,
				?,
                ?,
				?,
				?,
				?,
				?,
				?,
                1
                )
	</entry>
	
    <entry key="insertPet">
	INSERT INTO PET(USER_NO,
			 SPECIES,
			 GENDER,
			 PET_NAME)
			 	VALUES (SEQ_UNO.CURRVAL ,
				?,
                ?,
                ?
				)
	</entry>    
	
</properties>