@charset "utf-8";

.content_name{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content2{
    line-height: 2;
    text-align: center;
}
/*지역선택 select style*/
.content3{
	margin-top : 50px;
    display: flex;
    justify-content: space-around;
}
.location{
    display: flex;
}

.search1, .search2,.search-text{
   height: 3rem;
   border-radius: 7px;
   border: 1px solid lightblue;
}
.content4{
    width: 100%;
    margin-top: 60px;
}
/*미니프로필 style*/
.content5{
    display: flex;
    justify-content: space-evenly;
}
.profile{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.card{
    margin-right: 100px;
    border-radius: 30px;
    background-color: rgb(230, 242, 255);
    border: none;
    box-shadow: 2.5px 4px 6px 0px;
   
}
.card-img{
    width: 15%;
    height: 15%;
    border-radius:50px;
        
}
.card-title{
    margin-left: 10px;
    font-size: 150%;
}
.card-subtitle{
    display: flex;
    margin-left: 50px;
    font-size: small;
}
.card-content{
    border: 1px solid white;
    background-color: white;
    border-radius: 20px;
    width: 100%;
    height: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.card-content p{
    font-size: 10px;
    padding: 10px 0px 10px 10px;
}
.card-thumb, .card-heart{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.card-thumb2{
    width: 10%;
    height: 10%;
    cursor: pointer
}
.card-footer{
    background-color: rgb(230, 242, 255);
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-bottom: 10px;
}
.thumb-number, .heart-number{
    font-size: 0.6em;
    margin-left: -25px;
}
nav{
    padding-left: 38%;
}
.boardNo, .count, .create-date{
	display: none;
}